@import "../../styles.scss";
.container{
  padding: 3rem;
}

.headline,
.confirm-desc {
  text-align: center;
  width: 100%;
  @include centerCenter();
}
.confirm-desc{
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .confirm-desc {
    padding-top: 5rem;
  }
}
@media screen and (min-width: 1024px) {

}
