@import "../../styles.scss";

.container{
  padding: 3rem 4rem;
}
.headline {
  font-size: 2.5rem;
  text-align: center;
}
.liveContainer {
  margin-top: 5rem;
}
.live-banner {
  height: 100%;
  width: 100%;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border: 1px solid #cccbcb;
  }
}
.live-info{
  .title {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .time {
    font-size: .8rem;
  }
  .price {
    margin: 5px 0;
    font-weight: 700;
  }
}
.link {
  margin-top: 30px;
  @include centerCenter($j: flex-end);
  .link-btn{
    height: 100px;
    width: 100px;
    display: inline-block;
    line-height: 100px;
    border: 1px solid $green;
    border-radius: 50%;
    color: $white;
    background-color: $green;
    text-decoration: none;
    text-align: center;
    transition: all .3s ease-in-out;
  }
  .link-btn:hover{
    transform: scale(1.1) rotate(-15deg);
  }
}

@media screen and (min-width: 768px) {
  .liveContainer {
    @include centerCenter($a: flex-end, $j: space-around);
  }
  .live-banner {
    width: 30%;
  }
  .live-info {
    width: 40%;
    padding-left: 10px;
    .title{
      margin: 0;
    }
    .time{
      margin: 1rem;
    }
  }
  .link {
    width: 30%;
    margin-top: 0;
  }
}
