@import "../../styles.scss";
.container{
  padding: 3rem 5rem;
}
.headline {
  font-size: 2.5rem;
  text-align: center;
}

.required {
  font-size: 0.8rem;
  color: #842029;
}

label {
  font-size: 0.8rem;
  color: $text;
}
label::after {
  content: " *";
  color: #842029;
}

input {
  padding: 8px 0;
  font-size: 0.8rem;
}

.alert {
  padding: 0;
  background-color: transparent;
  border: none;
}

.contact-submit {
  width: 100%;
  @include centerCenter();
}
button,
button:hover,
button:active {
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  background-color: $Hgreen;
  color: white;
}
button:hover {
  background-color: $green;
}

button:active {
  background-color: $green;
}

@media screen and (min-width: 768px) {
  .name {
    width: 30%;
  }
  .email,
  .subject {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .container{
    padding: 3rem 15rem;
  }
}
