@import "../../styles.scss";

.container{
  padding: 3rem
}

.wrapper {
  @include centerCenter();
  flex-direction: column;
}
a:hover {
  @include hover();
}

.headline {
  margin-bottom: 50px;
  font-size: 3.5rem;
  color: $text;
  font-family: "Montserrat", sans-serif;
}

.carousel-item-wrap {
  min-height: 90vh;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cta-wrap {
  height: 40vh;
  display: flex;
  flex-direction: column;

  h1 {
    padding-bottom: 2rem;
    font-size: 1.5rem;
    color: $text;
  }
  .btn-wrap {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
  }
  .cta-button {
    height: 90px;
    width: 90px;
    display: inline-block;
    line-height: 90px;
    border: 1px solid $green;
    border-radius: 50%;
    color: $white;
    background-color: $green;
    font-size: .8rem;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease-in-out;

  }
  .cta-button:hover {
    transform: scale(1.1) rotate(-15deg);
  }
}

.img-wrap {
  height: 55vh;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.home-liveinfo {
  margin: 100px 0;
  opacity: 0;
  transition: all 2s ease-in-out;
  .live-wrap {
    display: flex;
    flex-direction: column;
    .live-date {
      padding-bottom: 1rem;
      font-size: 0.8rem;
    }
    .live-title {
      padding-bottom: 0.8rem;
      font-size: 2rem;
    }
  }
}

.video {
  opacity: 0;
  transition: all 2s ease-in-out;
}

.home-liveinfo.active,
.video.active {
  opacity: 1;
}

.videoContainer {
  width: 100%;
  margin-bottom: 20px;
  div {
    height: 0;
    padding: 30px 0 56.25%;
    position: relative;
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    @include centerCenter($j: space-around);
  }
  .videoContainer {
    margin-bottom: 0;
  }
  .videoContainer:first-child {
    margin-right: 15px;
  }
  .videoContainer:last-child {
    margin-left: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .carousel-item-wrap {
    margin-top: 0;
    flex-direction: row;
  }

  .cta-wrap {
    height: 100%;
    width: 50%;
    justify-content: center;
    .btn-wrap {
      padding-right: 2rem;
    }
    .cta-button {
      height: 130px;
      width: 130px;
      line-height: 130px;
    }
    .cta-button:hover {
      transform: scale(1.1) rotate(-15deg);
    }
  }

  .img-wrap {
    height: 100%;
    width: 50%;
  }
}
